


Skip to content
Using Gmail with screen readers

Conversations

Starred
 
1–27 of 27
 

Everything else
 
1–50 of 1,003
 
1.91 GB (12%) of 15 GB used
Manage
Terms · Privacy · Program Policies
Last account activity: 0 minutes ago
Details


#slider{
  position: relative;
 /* width: 70%;
  height: 1%;*/
  margin: 0px auto;
  /*box-shadow: 0px 0px 5px 2px #ccc;*/
}
#box img{
  float: left;
  max-width: 100%;
  /*max-height: 0.001%;*/
}

button{
  padding: 1%;
  border:1px solid grey;
  background: white;
  font-size: 80%;
  color: black;
  position:absolute;
  cursor: pointer;
}
.next{
  border-radius: 10% 10% 10% 10%;
  left:10%;
  top: 85%;
  position:absolute;
}
.prew{
  border-radius: 10% 10% 10% 10%;
  left: 10%;
  position:fixed;
}
#check{
  left:20%;
  bottom: 25%;
}
#buttons{
  left:27%;
  bottom: 12%;
}

@keyframes slideranimation{

  0%{
   left:0%;
  }
  25%{
    left: 2%;

  }
  45%{
    left: 4%;
  }
}

index.css
Displaying home.txt.